<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h4>{{ site.footer.address_headline }}</h4>
				<p>
					{% for adress in site.address %}
					{{ adress }} <br>
					{% endfor %}
				</p>
			</div><!-- /col-lg-4 -->

			<div class="col-lg-4">
				<h4>{{ site.footer.links_headline }}</h4>
				<p>
					{% for network in site.footer.links %}
					<a href="{{ network.url }}" class="btn-social btn-outline">{{ network.title }}</a><br />
					{% endfor %}
				</p>
			</div><!-- /col-lg-4 -->

			<div class="col-lg-4">
				<h4>{{ site.footer.about_headline }}</h4>
				<p>{{ site.footer.about }}</p>
			</div><!-- /col-lg-4 -->

		</div>
	</div>
</div>
